* {
  margin: 0;
  padding: 0;
}
.card-bg {
  img {
    width: 1000px;
    height: 800px;
    position: absolute;
  }
}
.card-content {
  position: relative;
  display: flex;

  .left-container {
    padding-top: 260px;
    padding-inline-start: 100px;
    .card {
    }
  }

  .right-container {
    padding-top: 223px;
    padding-inline-start: 45px;
    .title {
      text-align: center;
      font-size: 57px;
      letter-spacing: 0px;
      color: #3c4544;
      opacity: 1;
    }
    .name {
      text-align: center;
      font-size: 33px;
      padding: 25px;
      letter-spacing: 0px;
      color: #4299cb;
      opacity: 1;
    }
    .content {
      width: 380px;
      height: 203px;
      text-align: center;
      font-size: 25px;
      letter-spacing: 0px;
      color: #3c4544;
      opacity: 1;
    }
    .logo {
      padding: 20px;
    }
  }
}
